{
  "presets": [
    ["@babel/preset-env", {
        "useBuiltIns": "usage",
        "corejs": 3,
        // targets 配置没用啊卧槽
        // 有用的
        "targets": {
          "ie": "8"
        }
        
      }
    ]
  ]
  // "plugins": ["@babel/plugin-transform-runtime"]
}